/* CSS HEX */
/*--steel-blue: #4682B4 ;
--mint-green: #c0e0deff;
--gunmetal: #162521ff;
--outer-space: #3c474bff;
--ice-blue: #9eefe5ff ;*/
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    list-style: none;
    font-family: 'Manrope', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #0f0f0f;
}

.achicar {
    color: #c0e0deff;
    font-size: 12px;
    line-height: 1px;
    text-shadow: none;
}

.resaltar {
    font-family: 'Manrope' sans-serif;
    color: #4682B4;
    font-size: 40px;
    text-shadow: #162521ff 1px 1px 3px;
}

.cambiarcolor {
    color: #4682B4;
    font-weight: 500;
}

.container {
    max-width: 1400px;
    margin: auto;
}

header {
    position: fixed;
    width: 100%;
    z-index: 998;
}

header .container {
    background-image: linear-gradient(to right, #1f415e, #4682B4);
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

header .logo {
    display: flex;
    justify-content: center;
}

header .logo h1 {
    margin-left: 5px;
    margin-top: 30px;
    padding-bottom: 5px;
    color: #fff;
    text-shadow: #000 1px 1px 5px;
    line-height: 15px;
}


header .logo img {
    margin-top: 5px;
    width: 70px;
    align-items: center center;
}

header nav {
    background-color: #162521ff;
    display: flex;
    flex-direction: row;
    text-align: center;
    padding-bottom: 5px;
    justify-content: center;

}

header nav a {
    font-family: 'Nunito';
    font-size: 12px;
    margin: 8px;
    text-decoration: none;
    color: #fff;
}

header nav a:active {
    color: #4682B4;
}

header nav a:hover {
    color: #4682B4;
    text-decoration: overline;
}

#hero {

    max-width: 1400px;
    margin: auto;
    height: 100vh;
    background-image: linear-gradient(0deg, rgba(49, 60, 110, 0.6), rgba(0, 1, 32, 0.5)),
        url("../media/hero.png");
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}

#hero h1 {
    margin-top: 320px;
    justify-items: center;
    font-size: 55px;
    color: #fff;
    align-items: center;
    line-height: 40px;
    text-align: center;
    text-shadow: #000 1px 1px 5px;
}

#hero h2 {
    color: #c0e0deff;
}

#hero p {
    margin-top: 230px;
    color: #c0e0deff;
    font-size: 50px;

}

#quienes-somos {
    max-width: 1400px;
    height: max-content;
    margin: auto;
}

#quienes-somos .container {
    max-width: 1400px;
    margin: auto;
    display: flex;
    justify-content: center;
}


.titulo-quienes-somos {
    background-color: #f8f8f8;
    padding-top: 40px;
    padding: 15px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 12px;
}

.titulo-quienes-somos h1 {
    font-size: 20px;
    padding-top: 90px;
    margin-bottom: 30px;
}

.texto1-quienes-somos {
    background-image: linear-gradient(to right, #1f415e, #4682B4);
    color: #ffffff;
    padding: 20px;
    padding-bottom: 20px;
    text-align: justify;
}

.texto1-quienes-somos p {
    font-size: 15px;
    font-family: 'Nunito', sans-serif;
    padding: 5px 20px 5px 20px;
}

.texto1-quienes-somos h2 {
    font-family: 'Nunito', sans-serif;
    padding: 15px;
    font-size: 30px;
    color: #ffffff;
    text-shadow: #000000 1px 1px 3px;
}

.texto2-quienes-somos {
    background-color: #f8f8f8;
    padding: 20px;
    padding-bottom: 20px;
    text-align: justify;
}

.texto2-quienes-somos p {
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    padding: 5px 20px 5px 20px;
    margin-bottom: 40px;
}

.texto2-quienes-somos h2 {
    padding: 15px;
    font-size: 30px;
    color: #4682B4;
    text-shadow: #000000 1px 1px 3px;
}

.imagen-quienes-somos {
    height: 180px;
    width: 100%;
    margin: 0;
    background-image: linear-gradient(0deg, rgba(22, 30, 66, 0.6), rgba(0, 1, 32, 0.5)),
        url("../media/quienes-somos-imagen.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#servicios {
    max-width: 1400px;
    text-align: center;
    margin: auto;
    height: max-content;
    background-image: linear-gradient(0deg, rgba(0, 1, 3, 0.4), rgba(107, 146, 219, 0.6)), url(../media/serviciosBack.jpeg);
    display: flex;
    background-size: cover;
    background-position: center;
}

#servicios .titulo-seccion h1{
    color: #fff;
    font-size: 45px;
    font-family: 'Nunito',sans-serif;
    text-shadow: 1px 1px 3px #000;
    text-align: center;
    padding: 15px;
    margin-top: 90px;
}

#servicios .card-servicio {
    background-color: hsla(164, 25%, 12%, 0.715);
    color: #ffffff;
    text-align: justify;
    padding: 15px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: #0f0f0f 0 2px 3px;
}


#servicios .container .card-servicio> p,
fieldset {
    font-family: 'Nunito';
    padding: 15px;
}

/* Seccion equipo*/

#equipo {
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    margin:auto;
    padding: 0;
    background-color: #f8f8f8;
    height: max-content;
    text-align: center;
}


#equipo .titulo-seccion{
    color:#162521ff;
    font-family: 'Manrope', sans-serif;
    font-size: 25px;
    text-shadow: 1px 1px 3px #000;
    text-align: center;
    padding: 15px;
    margin-top: 90px;
}

 #equipo .cards {
    display: flex;
    flex-direction: column;
 }
#equipo .card-perfil{
    height: 400px;
    margin: 20px;
    box-shadow: 5px 5px 10px #000;
    overflow: hidden;
}

#equipo img{
    height: 400px;
    width: 300px;
    border-radius: 5px;
}

#equipo .texto-perfil{
    height:120px;
    width: 300px;
    padding: 6px;
    box-sizing: border-box;
    position: relative;
    bottom:140px;
    background: hsla(208, 50%, 25%, 0.75);
    color:#fff;
    
}

#equipo .texto-perfil h1{
    margin: 5px;
    font-family: 'Manrope',sans-serif;
    font-size: 30px;
    text-shadow: 1px 1px 3px #000;
}

#equipo .texto-perfil p{
    font-family: 'Nunito',sans-serif;
    font-size: 18px;
    margin: 5px;
    /*visibility: hidden;*/
    /*opacity: 0;*/

}
/*
#equipo .card-perfil:hover{
    cursor: pointer;
}

#equipo .card-perfil:hover .texto-perfil{
    height: 120px;
    bottom: 140px;
}

#equipo .card-perfil:hover p{
    visibility: visible;
    opacity: 1;
}
*/
