.container {
    margin-left: 4px;
    width: 90px;
    height: 100px;
    border: 3;
    text-align: center;
    background-image: linear-gradient(to bottom right, #1208ca72, #3F177B);
    padding: 8px;
    box-shadow: 3px 4px 2px black;
    border-radius: 10px;
    position: fixed;
    
}

.temp{
    font-size: 40px;
}

.summary {
    font-size: 15px;
    font-style: italic;
}

.loc {
    font-size: 15px;
}